<div class="container">
  <div class="col-6">
    <img src="images/graph.png" alt="" />
  </div>
  <form action="/subscribe" method="post">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="email" placeholder="Email" />
    <input
      type="text"
      name="zipCode"
      placeholder="Zip Code"
      pattern="[0-9]{5}"
    />
    <input type="submit" name="submit" />
  </form>
  <div class="col-6"></div>
</div>
